extends /_pug/_inc/_layout

//-
	---------------------------------------------------------
	ページ固有の変数を定義
	---------------------------------------------------------
append setVar
	- layout = 'entry'
	- pageUrl = '/entry/tiamo77.html'
	- dirArray = createDirArray(pageUrl)
	- bodyAttributes.id = 'p-entry'
	- bodyAttributes.class = 'p-tiamo'

//-
	---------------------------------------------------------
	ページ固有のCSSを読み込み
	---------------------------------------------------------
append css
	link(rel="stylesheet" href="/css/p_entry.css")

//-
	---------------------------------------------------------
	コンテンツ
	---------------------------------------------------------
block main

	article.main_inner

		header.entry_header
			div.mainvisual
				p.mainvisual_pic: img(src="/cms/item/img/pic_tiamo77_01.jpg" alt="")
				p.mainvisual_date 2019.00.00
				p.mainvisual_episode #77
				h1.mainvisual_ttl: span 2019 春夏スタート！<br>ティアモのゲキ推しアイテムプレビュー
			ul.c-tag_list
				li: a(href="/") #[span タグ1]
				li: a(href="/") #[span タグあああああ]
				li: a(href="/") #[span タグ3]
				li: a(href="/") #[span タグｆｆｆ]
				li: a(href="/") #[span タグ5]
				li: a(href="/") #[span タグ6]
				li: a(href="/") #[span タグ3]
				li: a(href="/") #[span タグｆｆｆ]
				li: a(href="/") #[span タグ5]
				li: a(href="/") #[span タグ6]

		div.c-advertise: a(href="/"): img(src="https://placehold.it/728x90" alt="")

		div.entry_content
			div.mokuji
				p.m-titleType03 目次
				ul.mokuji_list
					li: a(href="#anchor01") Youtube動画
					li: a(href="#anchor02") 動画の関連アイテム
					li: a(href="#anchor03") バターバトラーの催事場・期間限定の販売店情報
					li: a(href="#anchor04") バターガレットとバターシュガーケーキ

			section.entry_section#anchor01
				h2.m-titleType02 Youtube動画
				div.entry_youtube
					iframe(width="560" height="315" src="https://www.youtube.com/embed/cwE6QWbS-Rg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				p.entry_txt Butter Butler(バター バトラー）はその名の通り、バターにこだわったスイーツ店。<br>みんなが贈りたい。JR 東⽇本おみやげグランプリで見事グランプリを獲得！<br>表面をカリッと焼き上げたフィナンシェには、スイス産の発酵バターとフランス産のゲランドの塩を使用。<br>メープルシロップを染み込ませ、中はしっとり。一度食べたら忘れらないはずです！

			section.entry_section#anchor02
				h2.m-titleType02 動画の関連アイテム
				div.entry_saleitems
					section
						h4.shop_name JR新宿駅構内 NEWoMan SHINJUKU 2F エキナカ
						p.shop_pin 〒151-0051 東京都渋谷区千駄ヶ谷5-24-55　JR新宿駅構内 NEWoMan SHINJUKU 2F エキナカ
						p.shop_time 8:00 ~ 22:00　※土日祝日 8:00 ~ 21:30
				p.entry_txt 新宿駅以外の取り扱い店舗は海老名SAになり、東名高速道路「海老名SA」下りショッピングコーナーで購入できます。

		aside.entry_social
			ul.social_list
				li.is-facebook: a(href="http://www.facebook.com/share.php?u=https://stocknow.info/" onclick="window.open(encodeURI(decodeURI(this.href)), 'FBwindow', 'width=554, height=470, menubar=no, toolbar=no, scrollbars=yes'); return false;" rel="nofollow"): span シェア
				li.is-twitter: a(target="_blank" href="https://twitter.com/share"): span twitter
				li.is-line: a(href="https://plus.line.com/share?url=https://stocknow.info/" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"): span line
				li.is-hatenabookmark: a(href="https://plus.line.com/share?url=https://stocknow.info/" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"): span はてなブログ

		//#include virtual="/_inc/relation.html"

append script
	script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyD29DdDt14xcI-AuwSD8ZAHlKt6OKySBzc")
	script.
		let $list = $('.js-shop_list section'),
		shopList = [];
		// ショップリストの取得
		for (let i = 0; i < $list.length; i++) {
			shopList[i] = [];
			shopList[i].shopname = $list.eq(i).find('.js-shop_name').text();
			shopList[i].address = $list.eq(i).find('.js-shop_pin').text();
		}
		let shopCode = [];
		let shopHoge = [];
		// ショップリストの緯度経度を取得
		function dfdGeocode(){
			let addressJP,shopName;
			let dfd = $.Deferred();
			// Geocoderのインスタンスを生成
			let geocoder = new google.maps.Geocoder();
			// カウンター
			let cnt = 0;
			// 店舗数分マップに埋め込み
			$.each(shopList, function(index, val){
				addressJP = val.address;
				shopName  = val.shopname;
				shopHoge.push({
					shp : shopName,
					add : addressJP
				});
				geocoder.geocode({
					'address': addressJP //ショップ
				}, function(results, status, callback) { // 結果
					if (status === google.maps.GeocoderStatus.OK) {
						shopCode.push({
							lat : results[0].geometry.location.lat(),	//緯度
							lng : results[0].geometry.location.lng()	//経度
						});
						if(cnt == shopList.length -1){
							dfd.resolve();
						}
						cnt++;
						callback();
					}else { // 失敗した場合
						alert(status);
					}
				});
				
			});
			return dfd.promise();
		}
		// 非同期処理を並列化
		$.when(
			dfdGeocode()
		).done(function(position){
			//- console.log(shopCode);
			//- console.log(shopHoge);
			let map;
			let googleMap = function(){
				$.each(shopList, function(index, val){
					//- console.log(index + ' :   ' + shopList[index].shopname + ' :   ' + shopCode[index].lat);
					if(index == 0){
						let myOptions = {
							zoom: 18, /*拡大比率*/
							center: shopCode[index], /*表示枠内の中心点*/
							mapTypeControlOptions: { mapTypeIds: ['sample', google.maps.MapTypeId.ROADMAP] }
						};
						map = new google.maps.Map(document.getElementById('js-googleMap_'), myOptions);
						/*取得スタイルの貼り付け*/
						let styleOptions = [
							{
								'stylers': [
									{ 'saturation': -100 },
									{ 'visibility': 'simplified' },
									{ 'lightness': 22 }
								]
							}
						];
						let styledMapOptions = { name: 'STOCKNOW仕様' }
						let sampleType = new google.maps.StyledMapType(styleOptions, styledMapOptions);
						map.mapTypes.set('sample', sampleType);
						map.setMapTypeId('sample');
					}
					// googleMapを書き込む
					markup(shopCode[index],val.shopname,map);
				});
			}
			google.maps.event.addDomListener(window, 'load', googleMap);

			$('.shopList li .shopMapActive').on('click',function(){
				let eq = $(this).parents('li').index();
				console.log(eq);
				map.panTo(new google.maps.LatLng(shopCode[eq]));
			})
		})
		function markup(LATLNG, SHOPNAME, MAP){
			/*アイコン設定▼*/
			let icon = {
				url: '/img/cmn/icon_googlemap.png',
				scaledSize : new google.maps.Size(51.5,65.5)
			}
			let markerOptions = {
				position: LATLNG,
				map: MAP,
				icon: icon,
				title: SHOPNAME
			};
			let marker = new google.maps.Marker(markerOptions);
		}