aside.entry_social
	ul.social_list
		li.is-facebook: a(href="http://www.facebook.com/share.php?u=https://stocknow.info#{pageUrl}" onclick="window.open(encodeURI(decodeURI(this.href)), 'FBwindow', 'width=554, height=470, menubar=no, toolbar=no, scrollbars=yes'); return false;" rel="nofollow"): span シェア
		li.is-twitter: a(target="_blank" href="https://twitter.com/share"): span twitter
		li.is-line: a(href="https://plus.line.com/share?url=https://stocknow.info/" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"): span line
		li.is-hatenabookmark: a(href="https://plus.line.com/share?url=https://stocknow.info/" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"): span はてなブログ
	//#include virtual="/_inc/advertise.html"