footer#footer
	p.footer_totop: a(href="#"): span TOP
	div.footer_inner
		p.footer_copy Copyright 2017 © Stock Now All Rights Reserved.
		ul.footer_social
			li.is-facebook: a(href="https://www.facebook.com/sharer/sharer.php?u=https://stocknow.info/" onclick="window.open(encodeURI(decodeURI(this.href)), 'FBwindow', 'width=554, height=470, menubar=no, toolbar=no, scrollbars=yes'); return false;" rel="nofollow"): span facebook
			li.is-twitter: a(target="_blank" href="http://twitter.com/share?url=https://stocknow.info/"): span twitter
			li.is-line: a(href="http://line.me/R/msg/text/?https://stocknow.info/" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"): span line
			li.is-hatenabookmark: a(href="http://b.hatena.ne.jp/entry/https://stocknow.info/" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"): span はてなブログ